main {
    margin: auto;
}

body {
    margin: auto;
}

.img-thumbnail {
    width: 500px;
    height: 300px;
}

#title {
    color: white;
    text-shadow: 2px 2px 4px black;
}

#subtitle {
    color: white;
    text-shadow: 2px 2px 4px black;
}


#map_canvas {
    /*margin-top: 3.5%; */
    height: 100%;
    /*margin: auto;*/
}

#floating-panel {
    position: absolute;
    top: 70px;
    left: 35%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
