<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
          rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="./css/map.css" />
    <link rel="stylesheet" type="text/css" href="./css/navbar.css" />
    <script type="text/javascript" src="./js/init.js"></script>
    <title>Welcome to TweatMap!</title>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a id="navbar-title" class="navbar-brand" href="#">TweatMap</a>
    </div>

    <div class="collapse navbar-collapse">
        <div id="signer">
            <a href="<%= twitterLink %>" class="navbar-brand">
                <img src="TwitterLogo_white.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign In with Twitter
            </a>
        </div>

    </div>
</nav>
<div class="cover">
    <div class="cover-image" style="background-image : url('http://wallpapershome.com/images/pages/pic_h/10012.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="title">TweatMap</h1>
                <h2 id="subtitle">Tweets from the world.</h2>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="http://cdn1.stbm.it/zingarate/gallery/foto/luoghi-spettacolari/il-mondo-di-notte/mondo_1.jpeg" class="img-thumbnail img-responsive">
                <h1>Follow the world</h1>
                <p></p>
                <p>Using Google Maps, TweatMap provides you a heatmap showing where the tweets
                    come from worldwide, and other using information. Which Nation tweets more?</p>
                <p></p>
            </div>
            <div class="col-md-6">
                <img src="http://socialmediaimpact.com/wp-content/uploads/2013/11/twitter_followers.jpg"
                     class="img-thumbnail img-responsive">
                <h1>Every tweet, from every place</h1>
                <p></p>
                <p>
                    Just log in with your twitter account to see what happens!
                </p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Team</h1>
                <p class="text-center">you can see our work <a href="https://github.com/AnSlvt/repoRC" target="_blank">here</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="http://i63.tinypic.com/30wwfhx.jpg" height="200px" width=200px"
                     class="img-circle img-responsive">
            </div>
            <div class="col-md-4">
                <h3 class="text-left">Andrea Salvati</h3>
                <p class="text-left"></p>
            </div>
            <div class="col-md-2">
                <img src="http://i64.tinypic.com/23raepw.jpg" height="200px" width=200px"
                     class="img-circle img-responsive">
            </div>
            <div class="col-md-4">
                <h3 class="text-left">Marco Zecchini</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="http://i66.tinypic.com/25fk00l.jpg" height="200px" width=200px"
                     class="img-circle img-responsive">
            </div>
            <div class="col-md-4">
                <h3 class="text-left">Sergio Pedri</h3>
            </div>
            <div class="col-md-2">
                <img src="http://i65.tinypic.com/11lsrqo.jpg" height="200px" width=200px"
                     class="img-circle img-responsive">
            </div>
            <div class="col-md-4 text-center">
                <h3 class="text-left">Leonardo Petrucci</h3>
            </div>
        </div>
    </div>
</div>
</body>

</html>
