main {
    height: 100%;
    margin: 0;
    padding: 0;
}

body { margin: 0; }

#map_canvas {
    height: 95%;
}

#floating-panel {
    position: absolute;
    top: 70px;
    left: 35%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
