.navbar-collapse img {
    float: right;
    width: 30px;
    padding-top: 12px;
    padding-right: 5px;

}

#user_name {
    float: right;
    color: white;
    padding-top: 15px;
    padding-right: 5px;
}

#signer {
    float: right;
    color: white;
    padding-top: 15px;
    padding-right: 5px;
}

.navbar-nav button {
    margin-top: 13px;
}
